---
title: Thiago Fontes's Personal Page
description: A simple static personal blog build with Jekyll and PUG among other things.

layout: home
---

include header.pug
include main.pug
include footer.pug

//- .full-page
//- 	h1 {{page.title}}
//- h2 {{page.description}}

//- p Welcome to my home page. Isn't it awesome?
//- p NO