doctype html
html(lang="en")
	head
		title {{page.title}}
		meta(name="description", content="{{page.description}}")
		meta(charset="utf-8")
		meta(http-equiv="Cache-Control", content="private", max-age="6000")
		meta(name="description" content="My portfolio page, visit to see my skills and contact info")
		meta(name="author", content="Thiago Fontes")
		meta(name="keywords", content="Thiago Fontes, Portfolio, Computer Engineer")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Lato:300", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,300italic,700,500,500italic,700italic,400italic%7CLato:400,700,300", rel="stylesheet", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet")
	   
		link(rel="stylesheet" href="/css/owl.carousel.min.css")
		link(rel="stylesheet" href="/css/style.css")
	
	body
		.
			{{content}}

	
		//- script(type="text/javascript", src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js")
		script(type="text/javascript", src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
		script(type="text/javascript", src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
		script(type="text/javascript", src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
		//- script(type="text/javascript", src="js/posts.js")
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')
		script(type="text/javascript" src="/js/script.js")
		script(type="text/javascript" src="/js/owl.carousel.min.js")
		script(type="text/javascript" src="/js/carousel-config.js")
		script(type="text/javascript" src="/js/blog-feed.js")