//- .content

//- section.notice
  p Em construção!
section.about
  .container
    .row
      .col-md-4.col-md-push-8
        .box-dec
          //- .box-dec-left
          .box-dec-right
          //- img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1705112/profile/profile-512.jpg")#profile-img
          .center-dash
          h3 Contact
          br
          .row
            .col-xs-6.contact-icon
              ion-icon(name="mail") 
            .col-xs-6.contact-data
              p thiago@thiaago.brrr
            .col-xs-6.contact-icon
              ion-icon(name="phone-portrait")
            .col-xs-6.contact-data
              p +00 (00) 00000 - 000
            .col-xs-6.contact-icon
              ion-icon(name="pin")
            .col-xs-6.contact-data
              p Brazil
          br
          .social
            a.social-link(href='https://github.com/ThiagoFontes')
              ion-icon(name="logo-github", size="large")
            a.social-link(href='https://www.linkedin.com/in/fontesthiago/')
              ion-icon(name="logo-linkedin", size="large")
            a.social-link(href='https://codepen.io/FontesT')
              ion-icon(name="logo-codepen", size="large")
          p Maybe I should center things over here
              
      .col-md-8.col-md-push-4
        .box
          .box-ico
            h2.darker 
              ion-icon(name="finger-print")
          p.darker(style="font-size:20px;") About Me
          p I study computer engineering at Universidade Federal de Sergipe (UFS).
          br
          p.signature thiago@localhost