header#particles-js
  //- .social
    a.social-link(href='https://github.com/ThiagoFontes')
      ion-icon(name="logo-github", size="large")
    a.social-link(href='https://www.linkedin.com/in/fontesthiago/')
      ion-icon(name="logo-linkedin", size="large")
    a.social-link(href='https://codepen.io/FontesT')
      ion-icon(name="logo-codepen", size="large")
  .h-box
    .h-name 
      h3.name-box THIAGO FONTES
      p(style="text-transform: uppercase") Programer/Student
      br
      p This is just a demo of a personal resume like webpage