//- .content

//- section.menu

br
.container
  .row
    .col-lg-4.col-lg-push-8
      section.contact
        .box-border.right-down
          .box-dec.right-down
            //- .box-dec-left
            //-.box-dec-right
            .profile-img
              img(alt="Photo of Thiago Fontes",src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1705112/profile/profile-512.jpg")#profile-img
            //- .center-dash
            h2.session-heading Contact
            br
            a.ico-line(href='https://www.linkedin.com/in/fontesthiago/')
              .contact-field-text
                p linkedin.com/in/fontesthiago
              .contact-field-icon
                i.fab.fa-linkedin
            a.ico-line(href='https://github.com/ThiagoFontes')
              .contact-field-text
                p github.com/ThiagoFontes
              .contact-field-icon
                i.fab.fa-github
            a.ico-line(href='https://codepen.io/FontesT')
              .contact-field-text
                p codepen.io/FontesT
              .contact-field-icon
                i.fab.fa-codepen
            hr
            .ico-line
              .contact-field-text
                p Aracaju, Sergipe (BR)
              .contact-field-icon
                i.fas.fa-map-marker-alt
      //- End Section   
    
    .col-lg-8.col-lg-push-4
      section.portifolio
        .box-border.right-down
          .box.right-down
            .box-ico
              .ico-line
                //- i.fas.fa-user-alt.session-heading-icon
                h2.session-heading-2 My work
            .portifolio
              .row
                .col-lg-4
                  .box-border.right-down
                    .portifolio-item.right-down
                
                .col-lg-4
                  .box-border.right-down
                    .portifolio-item.right-down
                
                .col-lg-4
                  .box-border.right-down
                    .portifolio-item.right-down
            .row
              .button Online Portifolio
              .button Send me a e-mail
        //- End Section 

    .col-lg-4.col-lg-push-8
      section.about
        .box-border.left-up
          .box.left-up
            .box-ico
              .ico-line
                //- h2.darker 
                  ion-icon(name="code-working")
                h2.session-heading-2 About Me
            p Computer Engineering student at Universidade Federal de Sergipe (UFS). Working with blockchain, IOT and hardware simulation for my Undergraduate Thesis.
            
            P Learn something new everyday!
            br
            .box-ico
              .ico-line
                //- i.fas.fa-paint-brush.session-subheading
                h3.ico-field.session-subheading Hobbies
            p Digital Art | Watercolor |
              br
              | Acoustic Guitar | Games | Ricing
            //.signature 
              p - thiago.fontes@localhost
      //- End Section

    .col-lg-8.col-lg-push-4(style="top:-38px;")
      section.blog-preview
        .box-border.left-up
          .box-dec.left-up
            .box-ico-dec
              .ico-line
                //- h2.darker 
                  ion-icon(name="time")
                h2.session-heading-3 Blog